<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main">

      <h1>Reset Password</h1>
      <p>Enter your new password.</p>

      <%= form_for(:user, url: {action: :post_reset_password}) do |f| %>
        <div class="form-group">
          <div class="form-group">
            <%= f.text_field :password, class: "form-control", autofocus: "autofocus" %>
          </div>

          <div class="form-group">
            <%= f.submit 'Submit', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
